extends ../includes/boilerplate.jade
block css
    link(rel='stylesheet', href='/css/header.css')
    link(rel='stylesheet', href='/css/assignment.css')
    link(rel='stylesheet', href='/css/assignment-menu.css')
    link(rel='stylesheet', href='/components/css-toggle-switch/dist/toggle-switch.css')

    svg#svgdfs(height='0',display='block')
        defs
          marker#Triangle(viewbox='0 0 10 10', refx='0', refy='5', markerunits='strokeWidth', markerwidth='4', markerheight='3', orient='auto-start-reverse')
            path(d='M 0 0 L 10 5 L 0 10 z')
        defs
          marker#Circle(markerwidth='10', markerheight='10', refx='5', refy='5')
            circle.marker(cx='5', cy='5', r='1.5')

block content
    include ../includes/header.jade
    div#fullContent
      include ../includes/assignment-menu.jade
      div#updateStatus
      div#assignmentCanvas(overflow='auto')
        -for (var i = 0; i < extent; i++) {
          div(id="vis" + i, display="block").assignmentContainer
            //button(class='vis-menu-button', id='vis-menu-'+i)
            //div(id="menu"+i, class="vis-menu", display="block")
              //button(class='vis-menu-button', name='fullscreen')
        -}

block footerjs

    //link(rel='stylesheet', href='/css/map.css')
    //script( src = 'https://d3js.org/topojson.v1.min.js' )
    //script( src = '/js/map.js' )

    each script in linkResources.script
        script(src = script)

    each css in linkResources.css
        link(rel='stylesheet', href=css)

    script.
        var owner = '#{owner}'
        if ( owner=="false" && "#{assignmentDescription}".length <= 0 ) {
             $('.vis').css('width','99%') // adjust assignment width for public assignments
        }

        var shared = '#{shared}'
        $('#private').prop('checked',false)
        $('#public').prop('checked',false)
        if (shared==='true')
            $('#public').prop('checked',true)
        else
            $('#private').prop('checked',true)

        var data = !{JSON.stringify(data)};
        var user = !{JSON.stringify(user)};
        var assignmentNumber = !{JSON.stringify(assignmentNumber)};
        var BridgesVisualizer = {};

    script(src = '/js/Bridges/BridgesVisualizer.js')
    script(src = '/js/multiVisconfig.js')

    script.
        // Asynchronously update the assignment visibility
        function toggleShare (selected) {
            var assignmentNumber = !{JSON.stringify(assignmentNumber)}
            $.ajax({
                url: "/assignments/"+assignmentNumber+"/share/"+selected,
                type: "post"
            }).done(function() {
                console.log('visibility updated')
            }).fail(function(err){
                console.log(err)
            });
        }

        // TODO: Save snapshot of a particular assignment
        function saveSnapshot() {
            console.log("save snapshot");
        }
