extends ../includes/boilerplate.jade

block css
    link(rel='stylesheet', href='/css/assignment.css')
    link(rel='stylesheet', href='/css/assignment-nav.css')
    link(rel='stylesheet', href='/components/css-toggle-switch/dist/toggle-switch.css')

block content
    div#fullContent
      include ../includes/header.jade
      include ../includes/assignment-nav.jade

      .row(style="margin:auto")
        if (assignmentTitle && assignmentTitle.length > 0)
          h1.col-md-offset-1.col-md-8.assignmentTitle #{assignmentTitle}
        else
          h1.col-md-offset-1.col-md-6.assignmentTitle Assignment #{assignmentNumber}

        if (assignmentDescription.length > 0)
          div.col-md-offset-1.col-md-6.assignmentDescription #{assignmentDescription}

        if (navItems && navItems.socketConnect)
          div.col-md-2#socketStatus not connected...

      div#updateStatus
      div#assignmentCanvas(overflow='auto')
        -for (var i = 0; i < extent; i++) {
          div(id="vis" + i, display="block").assignmentContainer
            //button(class='vis-menu-button', id='vis-menu-'+i)
            //div(id="menu"+i, class="vis-menu", display="block")
              //button(class='vis-menu-button', name='fullscreen')
        -}

block footerjs
    script.
        var owner = '#{owner}'
        if ( owner=="false" && !{JSON.stringify(assignmentDescription)}.length <= 0 ) {
             $('.vis').css('width','99%') // adjust assignment width for public assignments
        }

        var shared = '#{shared}'
        $('#private').prop('checked',false)
        $('#public').prop('checked',false)
        if (shared==='true')
            $('#public').prop('checked',true)
        else
            $('#private').prop('checked',true)

        var data = !{JSON.stringify(data)};
        var user = !{JSON.stringify(user)};
        var assignmentNumber = !{JSON.stringify(assignmentNumber)};
        var BridgesVisualizer = {};

    script(src='/socket.io/socket.io.js')
    script(src='/js/socket.js')

    each script in linkResources.script
        script(src = script)

    each css in linkResources.css
        link(rel='stylesheet', href=css)

    script(src = '/js/Bridges/BridgesVisualizer.js')

    script(src = '/js/multiVisconfig.js')


    script.
        // Asynchronously update the assignment visibility
        function toggleShare (selected) {
            var assignmentNumber = !{JSON.stringify(assignmentNumber)}
            $.ajax({
                url: "/assignments/"+assignmentNumber+"/share/"+selected,
                type: "post"
            }).done(function() {
                console.log('visibility updated')
            }).fail(function(err){
                console.log(err)
            });
        }

        // TODO: Save snapshot of a particular assignment
        function saveSnapshot() {
            console.log("save snapshot");
        }
