extends ../includes/boilerplate.pug

block css
    link(rel='stylesheet', href='/css/assignment.css')
    link(rel='stylesheet', href='/css/assignment-nav.css')
    link(rel='stylesheet', href='/components/css-toggle-switch/toggle-switch.css')

block content
    div#fullContent
      include ../includes/header.pug
      include ../includes/assignment-nav.pug

      .row(style="margin:auto")
        div#updateStatus
        div#assignmentCanvas(overflow='auto')
          -for (var i = 0; i < assignment.numSubassignments; i++) {

            if (assignment && assignment.title && assignment.title.length > 0)
              h1.col-md-offset-1.col-md-8.assignmentTitle #{assignment.title}
            else
              h1.col-md-offset-1.col-md-6.assignmentTitle Assignment #{assignmentNumber}

            if (assignment && assignment.description && assignment.description.length > 0)
              div.col-md-offset-1.col-md-5.assignmentDescription #{assignment.description}

            if (navItems && navItems.socketConnect)
              div.col-md-3.alert.alert-danger#socketStatus not connected...

      div(id="vis" + i, display="block").assignmentContainer(overflow='auto')
        //button(class='vis-menu-button', id='vis-menu-'+i)
        //div(id="menu"+i, class="vis-menu", display="block")
          //button(class='vis-menu-button', name='fullscreen')
      -}

block footerjs
    script.
        var owner = '#{owner}'
        var shared = '#{shared}'
        $('#private').prop('checked',false)
        $('#public').prop('checked',false)
        if (shared==='true')
            $('#public').prop('checked',true)
        else
            $('#private').prop('checked',true)

        var assignment = !{JSON.stringify(assignment)};
        var user = !{JSON.stringify(user)};
        var assignmentNumber = !{JSON.stringify(assignmentNumber)};
        var BridgesVisualizer = {};
        var numAssignments = assignment.numSubassignments;
        var map_overlay = map_overlay;


    script(src='/socket.io/socket.io.js')
    script(src='/js/socket.js')

    each script in linkResources.script
        script(src = script)

    each css in linkResources.css
        link(rel='stylesheet', href=css)

    script(src = '/js/Bridges/BridgesVisualizer.js')
    script(src = '/js/multiVisconfig.js')


    script.
        // Asynchronously update the assignment visibility
        function toggleShare (selected) {
            var assignmentNumber = !{JSON.stringify(assignmentNumber)}
            $.ajax({
                url: "/assignments/"+assignmentNumber+"/share/"+selected,
                type: "post"
            }).done(function() {
                console.log('visibility updated')
            }).fail(function(err){
                console.log(err)
            });
        }

        // TODO: Save snapshot of a particular assignment
        function saveSnapshot() {
            console.log("save snapshot");
        }
