extends ../includes/boilerplate.jade
block css
    link(rel='stylesheet',
         href='/css/header.css')
    link(rel='stylesheet',
         href='/css/gallery.css')
    link(rel='stylesheet',
             href='/components/css-toggle-switch/dist/toggle-switch.css')

block content
    include ../includes/header.jade
    .container
        .row
            .col-lg-12
                div(style="float:left; margin-left:50px;width:100%;")
                    - if (assignmentNumber < 0)
                            h1(style="text-align: left") Looks like there aren't any assignments here...    :(
                    - else
                            h1(style="text-align: left") Public Gallery for assignments with number '#{assignmentNumber}'

    div.gallery_row
        - for (var x = 0; x < assignments.length; x++)
              - console.log(assignments[x])
              div.gallery_assignment_container
                  a(href='/assignments/'+assignments[x].assignmentNumber+'/'+usernames)
                    div.gallery_assignment_div.public
                        a(href="/assignments/"+assignmentNumber+"/"+assignments[x].username)
                            if(assignments[x].vistype == "nodelink")
                                img.visimg(src='/img/graph.png' title=assignments[x].vistype)
                            else if(assignments[x].vistype == "Alist")
                                img.visimg(src='/img/array.png' title=assignments[x].vistype)
                            else
                                img.visimg(src='/img/'+assignments[x].vistype+'.png' title=assignments[x].vistype)

                  a(style='text-decoration: none; ' href='/assignments/'+assignments[x].assignmentNumber+'/'+usernames)
                      div(class='gallery_links')
                        - if (assignments[x].username)
                            div.gallery_link_title #{assignments[x].username}
                        - else
                            div.gallery_link_title Assignment#{assignments[x].email}

                  div.user-gallery-menu
                    div.gallery_link_small #{assignments[x].username} #{assignments[x].email}
                    div.gallery_link_small Assignment #{assignments[x].assignmentNumber}
                    div.gallery_link_small Data Structure: #{assignments[x].data[0].visual}
                    div.gallery_link_small Date Created: #{assignments[x].dateCreated}

      script( src = '/js/gallery/userGallery.js' )
