extends layout

block form
  br
  .col-lg-6.col-lg-offset-6.col-md-6.col-md-offset-6.col-sm-8.col-sm-offset-2.col-xs-10
    .well
        form(action='/users/session', method='post').form-horizontal
          .fieldset
            legend Log in!
            input(type="hidden", name="_csrf", value=csrftoken)
            .form-group
                label.col-lg-2.control-label Username
                div.col-lg-10
                    input#user.form-control(
                        type='text',
                        name='username',
                        placeholder='User Name')
            .form-group
                label.col-lg-2.control-label Password
                div.col-lg-10
                    input#pwd.form-control(
                        type='password',
                        name='password',
                        placeholder='Password')
            .form-group
                div.col-lg-12
                    input#submit(type='submit', value='Log In').btn.btn-primary
                    a(href='/forgot' style='float: right') forgot password?

            .form-group
                div.col-lg-10
                    p Don't have an account?
                        a(href="/signup")  Sign up!
block validate
  - if (message != ''){
      br
      p.alert.alert-danger=message
  - }
