extends layout

block css
    link(rel="stylesheet", href="/css/webicons/webicons.css")
    link(rel="stylesheet", href="/css/profile.css")

 block info
    div.col-lg-12(style="margin: 20px")
      h1 #{user.username}'s Profile

 block form
  if (user)
    div.col-lg-6
      .panel.panel-info
        .panel-heading
            h3.panel-title User information
        .panel-body
            div
                strong.col-lg-4 User Name:
                div#user #{user.username}
            div
                Strong.col-lg-4 Email:
                div#email #{user.email}
            div
                Strong.col-lg-4 API Sha1 Key:
                span#api #{user.apikey}
            br
            input#getKey.btn.btn-block.btn-info(value="Generate new API key")

            hr
            if (acct.domainProvider)
                div
                    Strong.col-lg-4 Authenticated: #{acct.domainProvider}
            else
                div
                    Strong.col-lg-6 No external authentication

    div.col-lg-6
      .panel.panel-info
        .panel-heading
            h3.panel-title Institution and Course
        .panel-body
          div
            Strong.col-lg-4 Institution Name:
            div.col-lg-8
              input.form-control#setInstitution(
                type="text",
                placeholder="My institution",
                value=(user.institution_name ? user.institution_name : ''))
          br
          br
          div
            Strong.col-lg-4 Course Descriptor:
            div.col-lg-8
              input.form-control#setCourse(
                type="text",
                placeholder="CS 101"
                value=(user.course_name ? user.course_name : ''))


    div.col-lg-6
      .panel.panel-info
        .panel-heading
            h3.panel-title Profile Options
        .panel-body

            -var src = "/users/"+user.id
            form(action=src, method='post')

                strong(style="color:firebrick") WARNING: this will
                   | PERMANENTLY delete your account

                div(style="margin-top:20px;")
                    input(type="hidden", name="_csrf", value=csrftoken)
                    div.col-lg-8
                        input#input.form-control(
                            type="text",
                            placeholder="type your username, then",
                            onkeyup="checkUser(this.value)",
                            style="float:left; margin-right:25px;" )

                    input.form-control(
                            type="hidden",
                            name="_method",
                            value="DELETE")

                    input#submitDelete.btn.btn-primary.disabled(
                            type='submit',
                            value="Delete Account")
  else
      .well
        h1 You are not logged in!
        a(href="/login").btn.btn-primary Log me in

block js
   script(src="components/modernizr/modernizr.js")

   script(src="js/main.js")
   script.
       name="#{user.username}";
       function checkUser(value) {
           var btn = document.getElementById("submitDelete")
           if (value==name)
               btn.classList.remove('disabled')
           else {
               if (!(btn.classList.contains("disabled")))
                   btn.classList.add("disabled")
           }
       }
